.shop-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
  backdrop-filter: blur(5px);
}

.loading-card {
  width: 100%;
  max-width: 500px;
  background-color: #c0c0c0;
  border: 3px outset #fff;
  font-family: 'Courier New', Courier, monospace;
}

.shop-window {
  width: 90%;
  max-width: 800px;
  height: 80%;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 50px rgba(0,0,0,0.5);
}